DATABASE_URL=postgresql://user:password@localhost:5432/restaurant_review
ADMIN_PASSWORD=your_admin_password_here
DJANGO_SECRET_KEY=your_django_secret_key_here
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
